<div class="container-fluid">
<h1>All Pets</h1>

  <div class="row">
    <% @pets.each do |pet| %>
      <% if pet.adoptable == true %>
        <div class="col-sm">
        <section id="pet-<%=pet.id%>">
        <h2>name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
        <div class="petpic">
        <%= image_tag "#{pet.image}" %><br>
        </div>
        approx age: <%= pet.approximate_age %><br>
        sex: <%= pet.sex%><br>
        shelter: <%= link_to "#{pet.shelter.name}", "shelters/#{pet.shelter.id}" %><br>
        <div class="col-sm">
          <a href="/pets/<%= pet.id %>/edit" class="list-group-item list-group-item-action active">Update Pet</a>
          <%= link_to "Delete Pet", "/pets/#{pet.id}",class: "list-group-item list-group-item-danger", method: :delete %><br>
        </div>
        </section>
        </div>
      <% end %>
    <% end %>

    <div class="row">
    <div class="col align-self-end">
      <a href="/applications/new" class="list-group-item list-group-item-action active">Start an Application</a>
    </div>
    </div>
  </div>
</div>
