<div class="containter-fluid">
  <h3><%= @shelter_facade.name %></h3>
  <p>Address: <%= @shelter_facade.address %>
    City: <%= @shelter_facade.city %> State: <%= @shelter_facade.state %> Zipcode: <%= @shelter_facade.zip %></p>
</div>

<h3> Stats </h3>
<p> adoptable pets </p>
<%= @shelter_facade.count %><br>
<p> adopted pets </p>
<%= @shelter_facade.adopted %>
<p> average pet age </p>
<%= @shelter_facade.age %>
<p>Pets with action required<p>
<% @shelter_facade.action_required.each do |action|%>
  <a href="/pets/<%= action.id%>"><%= action.name %></a><br>
<% end %>
