<div class="container-fluid">
  <% @application.pets.each do |pet| %>

    <div class="row">
      <div class="col">
        <h5 class="mt-0"> <%= pet.name %></h5>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= image_tag "#{pet.image}", class: "align-self-start mr-3", style: "width:320px;height:240px;" %>
        <% app_pet = pet.application_pets.where("application_form_id = ?", @application.id)[0] %>
      </div>
      <div class="col">
        <p><%= @application.description %></p>
      </div>
    </div>

    <div class="row">
    <div id="pet_id-<%=pet.id%>">
        <% if app_pet.accepted.nil? && pet.adoptable == false%>
      <div class ="col">
        <p> Pet has been adopted </p>
      </div>
      <div class="col">
        <%= button_to "Reject", {:controller => "admin", :action => "pet_status", :application_id => "#{@application.id}", :approve => false, :pet => "#{pet.id}" }, :method=>:post  %>
      </div>
    <% elsif app_pet.accepted.nil?%>
      <div class="col">
        <%= button_to "Approve", {:controller => "admin", :action => "pet_status", :application_id => "#{@application.id}", :approve => true, :pet => "#{pet.id}" }, :class => "btn btn-primary", :method=>:post  %>
      </div>
      <div class="col">
        <%= button_to "Reject", {:controller => "admin", :action => "pet_status", :application_id => "#{@application.id}", :approve => false, :pet => "#{pet.id}" }, :class => "btn btn-danger", :method=>:post  %>
      </div>
      <% elsif app_pet.accepted == true%>
        <p> Accepted </p>
      <% else %>
        <p> Rejected </p>
      <% end %>
    </div>
    </div>


  <% end %>
</div>
