<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopM2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <header>
    <div class="nav-bar">
      <ul>
        <div class="row">
          <div class="col">
            <%= link_to "Back to Home", "/", class:"list-group-item list-group-item-action" %>
          </div>
          <div class="col">
          <%= link_to "Go to Shelters", "/shelters", class: "list-group-item list-group-item-primary" %>
          </div>
          <div class="col">
          <%= link_to 'Go to Pets', "/pets", class: "list-group-item list-group-item-danger" %>
          </div>
        </div>

  </head><br>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>

  <body>

    <%= yield %>
  </body>
</html>
